@model BTCPayServer.Models.AppViewModels.ViewPointOfSaleViewModel
@{
    Layout = "_LayoutPos";
    int[] customTipPercentages = Model.CustomTipPercentages;
    var anyInventoryItems = Model.Items.Any(item => item.Inventory.HasValue);
}

<script id="template-cart-item" type="text/template">
    <tr data-id="{id}">
        {image}
        <td class="align-middle pr-0 pl-2"><b>{title}</b></td>
        <td class="align-middle px-0">
            <a class="js-cart-item-remove btn btn-link" href="#"><i class="fa fa-trash text-muted"></i></a>
        </td>
        <td class="align-middle px-0">
            <div class="input-group align-items-center">
                <div class="input-group-prepend">
                    <a class="js-cart-item-minus btn btn-link px-2" href="#"><i class="fa fa-minus-circle fa-fw text-danger"></i></a>
                </div>
                <input class="js-cart-item-count form-control form-control-sm pull-left" type="number" step="1" name="count" placeholder="Qty" max="{inventory}"  value="{count}" data-prev="{count}">
                <div class="input-group-append">
                    <a class="js-cart-item-plus btn btn-link px-2" href="#">
                        <i class="fa fa-plus-circle fa-fw text-success"></i>
                    </a>
                </div>
            </div>
        </td>
        <td class="align-middle text-right">{price}</td>
    </tr>
</script>

<script id="template-cart-item-image" type="text/template">
    <td class="align-middle pr-0" width="1%"><img src="{image}" width="50" alt=""></td>
</script>

<script id="template-cart-custom-amount" type="text/template">
    <tr>
        <td colspan="5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-shopping-cart fa-fw"></i></span>
                </div>
                <input class="js-cart-custom-amount form-control" type="number" min="0" step="@Model.Step" name="amount" placeholder="Pay what you want">
                <div class="input-group-append">
                    <a class="js-cart-custom-amount-remove btn btn-danger" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </td>
    </tr>
</script>

<script id="template-cart-extra" type="text/template">
   @if(Model.ShowCustomAmount){
        <tr>
            <th colspan="5" class="border-0 pb-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-shopping-cart fa-fw"></i></span>
                    </div>
                    <input class="js-cart-custom-amount form-control" type="number" min="0" step="@Model.Step" name="amount" value="{customAmount}" placeholder="Pay what you want">
                    <div class="input-group-append">
                        <a class="js-cart-custom-amount-remove btn btn-danger" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </th>
        </tr>
    }
    @if (@Model.ShowDiscount)
    {
        <tr>
            <th colspan="5" class="border-top-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-percent fa-fw"></i></span>
                    </div>
                    <input class="js-cart-discount form-control" type="number" min="0" step="@Model.Step" value="{discount}" name="discount" placeholder="Discount in %">
                    <div class="input-group-append">
                        <a class="js-cart-discount-remove btn btn-danger" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </th>
        </tr>
    }
</script>

<script id="template-cart-tip" type="text/template">
    @if (Model.EnableTips)
    {
        <tr>
            <th colspan="5" class="border-top-0 pt-4 h5">@Model.CustomTipText</th>
        </tr>
        <tr>
            <th colspan="5" class="border-0">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-money fa-fw"></i></span>
                    </div>
                    <input class="js-cart-tip form-control form-control-lg" type="number" min="0" step="@Model.Step" value="{tip}" name="tip" placeholder="Tip in @(Model.CurrencyInfo.CurrencySymbol != null ? Model.CurrencyInfo.CurrencySymbol : Model.CurrencyCode)">
                    <div class="input-group-append">
                        <a class="js-cart-tip-remove btn btn-lg btn-danger" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="row mb-1">
                    @if (customTipPercentages != null && customTipPercentages.Length > 0)
                    {
                        @for (int i = 0; i < customTipPercentages.Length; i++)
                        {
                            var percentage = customTipPercentages[i];
                            <div class="col">
                                <a class="js-cart-tip-btn btn btn-lg btn-light btn-block border mb-2" href="#" data-tip="@percentage">@percentage%</a>
                            </div>
                        }
                    }

                </div>
            </th>
        </tr>}
</script>

<script id="template-cart-total" type="text/template">
    <tr>
        <th colspan="1" class="pb-4 h4">Total</th>
        <th colspan="4" class="pb-4 h4 text-right">
            <span class="js-cart-total">{total}</span>
        </th>
    </tr>
</script>

<div id="cartModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white border-0">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-times fa-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table id="js-cart-summary" class="table m-0">
                    <tbody class="my-3">
                        <tr>
                            <td colspan="2" class="border-top-0 h5">Summary</td>
                        </tr>
                        <tr>
                            <td class="border-0 pb-0 h6">Total products</td>
                            <td align="right" class="border-0 pb-0 h6">
                                <span class="js-cart-summary-products text-nowrap"></span>
                            </td>
                        </tr>
                        @if (Model.ShowDiscount)
                        {
                            <tr>
                                <td class="border-0 pb-y h6">Discount</td>
                                <td align="right" class="border-0 pb-y h6">
                                    <span class="js-cart-summary-discount text-nowrap"></span>
                                </td>
                            </tr>
                        }
                        @if (Model.EnableTips)
                        {
                            <tr>
                                <td class="border-top-0 pt-0 h6">Tip</td>
                                <td align="right" class="border-top-0 pt-0 h6">
                                    <span class="js-cart-summary-tip text-nowrap"></span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="h3 table-light">Total</td>
                            <td class="h3 table-light text-right">
                                <span class="js-cart-summary-total text-nowrap"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer bg-light">
                <form
                    id="js-cart-pay-form"
                    method="post"
                    asp-controller="AppsPublic"
                    asp-action="ViewPointOfSale"
                    asp-route-appId="@Model.AppId"
                    asp-antiforgery="false"
                    data-buy
                >
                    <input id="js-cart-amount" class="form-control" type="hidden" name="amount">
                    <input id="js-cart-posdata" class="form-control" type="hidden" name="posdata">
                    <button id="js-cart-pay" class="btn btn-primary btn-lg" type="submit">
                        <b>@Model.CustomButtonText</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div class="p-2 p-sm-4">
            <div class="row">
                @if (this.TempData.HasStatusMessage())
                {
                    <partial name="_StatusMessage" />
                }
                <div class="col-sm-4 col-lg-2 order-sm-last text-right mb-2">
                    <a class="js-cart btn btn-lg btn-outline-primary" href="#">
                        <i class="fa fa-shopping-basket"></i>&nbsp;
                        <span class="badge badge-light badge-pill">
                            <span id="js-cart-items">0</span>
                        </span>
                    </a>
                </div>
                <div class="col-sm-8 col-lg-10 mb-2">
                    <div class="mb-2 position-relative">
                        <input type="text" class="js-search form-control form-control-lg" placeholder="Find product">
                        <a class="js-search-reset btn btn-lg btn-link text-black" href="#">
                            <i class="fa fa-times-circle fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="row">
                    <div class="overflow-hidden col-12">@Safe.Raw(Model.Description)</div>
                </div>
            }
        </div>
        <div id="js-pos-list" class="text-center mx-auto px-4">
            <div class="row card-deck my-3">

                @for (var index = 0; index < Model.Items.Length; index++)
                {
                    var item = Model.Items[index];
                    var image = item.Image;
                    var description = item.Description;

                    <div class="js-add-cart card my-2 card-wrapper" data-index="@index">
                        @if (!String.IsNullOrWhiteSpace(image))
                        {
                            @:<img class="card-img-top" src="@image" alt="Card image cap" asp-append-version="true">
                        }
                        <div class="card-body p-3">
                            <h6 class="card-title mb-0">@item.Title</h6>
                            @if (!String.IsNullOrWhiteSpace(description))
                            {
                                <p class="card-text">@description</p>
                            }
                        </div>
                        <div class="card-footer pt-0 bg-transparent border-0">

                            <span class="text-muted small">@Model.ButtonText.Replace("{0}",item.Price.Formatted).Replace("{Price}",item.Price.Formatted)</span>
                             @if (item.Inventory.HasValue)
                             {

                                 <div class="w-100 pt-2 text-center text-muted">
                                     @if (item.Inventory > 0)
                                     {
                                         <span>@item.Inventory left</span>
                                     }
                                     else
                                     {
                                         <span>Sold out</span>
                                     }
                                 </div>
                             } else if (anyInventoryItems)
                             {
                                 <div class="w-100 pt-2">&nbsp;</div>
                             }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-white text-dark">
        <div class="bg-primary p-3 clearfix">
            <h3 class="text-white m-0 pull-left">Cart</h3>
            <a class="js-cart btn btn-sm bg-white text-black pull-right ml-5" href="#">
                <i class="fa fa-times fa-lg"></i>
            </a>
            <a class="js-cart-destroy btn btn-danger pull-right" href="#" style="display: none;">Empty cart <i class="fa fa-trash fa-fw fa-lg"></i></a>
        </div>

        <table id="js-cart-list" class="table table-responsive table-light mt-0 mb-0">
            <thead>
                <tr>
                    <th colspan="3" width="55%">Product</th>
                    <th class="text-center" width="20%">
                        <div style="width: 84px">Quantity</div>
                    </th>
                    <th class="text-right" width="25%">
                        <div style="min-width: 50px">Price</div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table id="js-cart-extra" class="table table-light mt-0 mb-0">
            <thead></thead>
        </table>

        <button id="js-cart-confirm" data-toggle="modal" data-target="#cartModal" class="btn btn-primary btn-lg btn-block mb-3 p-3" disabled="disabled" type="submit">
            <b>Confirm</b>
        </button>

        <div class="text-center mb-5 pb-5">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416.23 65.19"><title>Logo-small</title><path d="M18.33,52.11c5.9,0,18.17-3.36,18.17-15.42,0-17.66-22.57-12.75-22.57-21.74,0-1.33,1.26-3.43,4.46-3.43s7,2.05,10.18,4.75l6.66-8.72A25.51,25.51,0,0,0,18.27,1.08c-10.48,0-16.5,7.53-16.5,15,0,16.65,22.43,14,22.43,21.42,0,2.16-1.48,4.08-5.5,4.08S9.75,38.81,7,35.67L0,44.12S7.07,52.11,18.33,52.11Z" style="fill:#074a23"/><path d="M70.26,34.28v-.1a7.16,7.16,0,0,0-.44-2.33,7.05,7.05,0,0,0-2-2.92A7.14,7.14,0,0,0,56,33.23h0A7.14,7.14,0,0,0,65.56,41a7.07,7.07,0,0,0,4.36-4.56L80.1,39.66a17.82,17.82,0,0,1-32.28,3.79,19.18,19.18,0,0,1-1.44-3.05,18.66,18.66,0,0,1-.86-3.33,17.81,17.81,0,0,1,32.85-12,17.42,17.42,0,0,1,1.15,2.29q.17.41.32.81c.1.27.18.53.27.8a17.11,17.11,0,0,1,.58,2.46l-.09,0-10.42,3.8A7.23,7.23,0,0,0,70.26,34.28Z" style="fill:#074a23"/><path d="M80.61,31.51h0L70.18,35.31,58.34,39.62,47.82,43.45a19.18,19.18,0,0,1-1.44-3.05,18.66,18.66,0,0,1-.86-3.33L56,33.24h0l11.78-4.29,10.44-3.8a14.6,14.6,0,0,1,1.25,2.26q.17.41.32.81c.1.27.18.53.27.8A14.53,14.53,0,0,1,80.61,31.51Z" style="fill:#68bf81"/><path d="M67.83,28.94a7.18,7.18,0,0,1,2.43,5.25h0s0,.07,0,.1a7.22,7.22,0,0,1-.07,1l10.33-3.76.09,0a13.71,13.71,0,0,0-.76-3.31,14,14,0,0,0-1.58-3.07Z" style="fill:#0b9745"/><path d="M56.4,36.75A7.15,7.15,0,0,1,56,33.23L45.52,37.06a17.44,17.44,0,0,0,2.31,6.38l10.51-3.82A7.18,7.18,0,0,1,56.4,36.75Z" style="fill:#0b9745"/><path d="M107.56,16.49A17.47,17.47,0,0,0,90.11,33.94V51.35h10.67V33.94a6.78,6.78,0,0,1,13.56,0V51.35H125V33.94A17.47,17.47,0,0,0,107.56,16.49Z" style="fill:#074a23"/><path d="M152.42,52.15a17.81,17.81,0,1,1,17.81-17.81A17.83,17.83,0,0,1,152.42,52.15Zm0-25a7.14,7.14,0,1,0,7.14,7.14A7.15,7.15,0,0,0,152.42,27.19Z" style="fill:#074a23"/><rect x="159.56" width="10.67" height="51.39" style="fill:#68bf81"/><path d="M159.56,18V50.64a17.79,17.79,0,0,0,0-32.61Z" style="fill:#0b9745"/><path d="M206,52.11A25.51,25.51,0,1,1,226.76,11.7l-9.44,6.8a13.88,13.88,0,1,0-.52,16.87l9,7.36A25.43,25.43,0,0,1,206,52.11Z" style="fill:#074a23"/><path d="M253.15,27.15a6.84,6.84,0,0,1,1.7.21L257.49,17a17.46,17.46,0,0,0-21.79,16.9h10.67A6.79,6.79,0,0,1,253.15,27.15Z" style="fill:#074a23"/><rect x="235.7" y="17.22" width="10.67" height="34.13" style="fill:#68bf81"/><path d="M246.37,33.94V17.86A17.48,17.48,0,0,0,235.7,33.94" style="fill:#0b9745"/><polygon points="270.76 65.17 281.91 65.17 298.26 17.21 287.11 17.21 270.76 65.17" style="fill:#68bf81"/><polygon points="263.84 17.21 274.99 17.21 286.63 51.33 275.48 51.33 263.84 17.21" style="fill:#074a23"/><polygon points="275.48 51.33 286.63 51.33 281.05 34.98 275.48 51.33" style="fill:#0b9745"/><rect x="307.44" y="17.22" width="10.67" height="47.97" style="fill:#68bf81"/><path d="M325.25,52.11A17.81,17.81,0,1,1,343.06,34.3,17.83,17.83,0,0,1,325.25,52.11Zm0-25a7.14,7.14,0,1,0,7.14,7.14A7.15,7.15,0,0,0,325.25,27.15Z" style="fill:#074a23"/><path d="M318.1,50.6V18a17.79,17.79,0,0,0,0,32.61Z" style="fill:#0b9745"/><rect x="353" y="17.49" width="18.56" height="8.73" style="fill:#68bf81"/><path d="M366.15,52.15A13.17,13.17,0,0,1,353,39V5.33h10.67V39a2.49,2.49,0,0,0,2.49,2.49,2.47,2.47,0,0,0,1.43-.45l6.16,8.71A13.08,13.08,0,0,1,366.15,52.15Z" style="fill:#074a23"/><rect x="353" y="17.49" width="10.67" height="8.73" style="fill:#0b9745"/><path d="M398.42,52.11A17.81,17.81,0,1,1,416.23,34.3,17.83,17.83,0,0,1,398.42,52.11Zm0-25a7.14,7.14,0,1,0,7.14,7.14A7.15,7.15,0,0,0,398.42,27.15Z" style="fill:#074a23"/></svg>
        </div>
    </nav>
</div>
